{% extends "layout.html" %}

{% block body %}
  <!--Navigator-->
  <header>
    <table id="navigator">
        <tr>
            <td>
                <a href="index.html">About Us</a>
            </td>
            <td>
                <a href="nba.html">NBA Player</a>
            </td>
            <td>
                <a href="quality_index.html">Quality of Life Index</a>
            </td>
            <td>
                <a href="sentiment_analysis.html">MBTI Sentiment Analysis</a>
            </td>
            <td>
                <a href="/topic_modelling">Topic Modelling</a>
            </td>
        </tr>
    </table>
</header>
<!--text-->
<main class="margin">
<p> Intro and Stuff</p>
</main>
{% endblock %}
